# Node modules
/node_modules

# Build outputs
/dist
/build
/out

# Electron builder cache
/*.log
/*.lock
/*.map
/packages

# Env files
.env
.env.*

# System files
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
